# list comprehension

In [5]:
lst=[1,2,3,4]
lst1=[]
for i in lst:
    lst1.append(i**2)
print(lst1)

[1, 4, 9, 16]

In [7]:
[i**2 for i in lst]

[1, 4, 9, 16]

In [9]:
# sum of even numbers inside a collection
lst=[1,2,3,4,5,6,7,8,9,10]
[i for i in lst if i%2==0]

[2, 4, 6, 8, 10]

In [10]:
#sum of all even numbers in list 
sum([i for i in lst if i%2==0])

30

# Tuples
Tuples are not used often as lists in programming but are used when immutability is necessary.

In [ ]:
tuple([1,2,3,4])

In [13]:
t=(1,2,3)

In [15]:
t[2]

3

In [16]:
t[2]=4     #immutable

TypeError: 'tuple' object does not support item assignment

In [17]:
t

(1, 2, 3)

In [18]:
t=(1,2,3,4,2,1,4,5,1,3,4,5,4,1)

In [19]:
t.count(1)

4

In [20]:
t.index(2)

1

# Sets
Sets are an unordered collection of unique elements

In [23]:
set((1,2,3,4,5))

{1, 2, 3, 4, 5}

In [24]:
type({1,2,3,4})

set

In [25]:
{1,2,3,4,5,6}

{1, 2, 3, 4, 5, 6}

In [26]:
{1,2,3,4,5,6,2,5,3,1,3,5,6,2,1}

{1, 2, 3, 4, 5, 6}

In [27]:
list({1,2,3,4,5,6,2,5,3,1,3,5,6,2,1})

[1, 2, 3, 4, 5, 6]

In [28]:
type({})

dict

In [30]:
type({1})   #atleast provide 1 element

set

In [31]:
x=set()    #empty set

In [32]:
x1={1,2,3,4,5}
x2={2,3,4,5,6,7}

In [33]:
x1.add(6)

In [34]:
x1

{1, 2, 3, 4, 5, 6}

In [35]:
x1.union(x2)

{1, 2, 3, 4, 5, 6, 7}

In [36]:
x1.intersection(x2)

{2, 3, 4, 5, 6}

In [37]:
x1.intersection_update(x2)

In [40]:
x1

{2, 3, 4, 5, 6}

In [41]:
x1={1,2,3,4,5,6}

In [42]:
x1.difference(x2)

{1}

In [44]:
x2.difference(x1)

{7}

In [48]:
x1={3,4,5}
x2={1,2,3,4,5,6,7}

In [49]:
x1.issubset(x2)

True

In [50]:
x2.issuperset(x1)

True

In [51]:
x2

{1, 2, 3, 4, 5, 6, 7}

In [53]:
x2[2]     #'set' object is not subscriptable means we can not traverse elements

TypeError: 'set' object is not subscriptable

In [54]:
x1={3,4,5}
x2={3,4,5}
x2.issuperset(x1)

True

# Dictionary

In [56]:
var={1:"Prakhar",2:"Python",3:29}
var

{1: 'Prakhar', 2: 'Python', 3: 29}

In [59]:
var.items()

dict_items([(1, 'Prakhar'), (2, 'Python'), (3, 29)])

In [60]:
var.keys()

dict_keys([1, 2, 3])

In [61]:
var.keys()[2]

TypeError: 'dict_keys' object is not subscriptable

In [62]:
list(var.keys())[2]

3

In [63]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {True:'value1','key2':'value2','key1':'valuedfvdfg','key1':'abc'}
my_dict

{True: 'value1', 'key2': 'value2', 'key1': 'abc'}

In [64]:
var[1]

'Prakhar'

In [65]:
var[3]

29

In [72]:
my_dict[True]

'value1'

In [73]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [74]:
my_dict['key3'][0]

'item0'

In [75]:
# Create a new dictionary
d = {}
type(d)

dict

In [76]:
# Create a new key through assignment
d['animal'] = 'xyz'
d

{'animal': 'xyz'}

In [77]:
# Can do this with any object
d['answer'] = 42
d

{'animal': 'xyz', 'answer': 42}

Nesting with Dictionaries

In [78]:
# Dictionary nested inside a dictionary nested in side a dictionary
d = {'key1':{'nestkey':{'subnestkey':'value'}}}

In [79]:
# Keep calling the keys
d['key1']['nestkey']

{'subnestkey': 'value'}

In [82]:
var[4]="Aman"
var

{1: 'Prakhar', 2: 'Python', 3: 29, 4: 'Aman'}

# Dictionary comprehension

In [83]:
{x:x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

# Functions

In [84]:
def greeting():
    print("Hello. Welcome!!")

In [85]:
greeting()

Hello. Welcome!!

In [94]:
# sum of all even numbers and odd numbers
def sum1(lst):
    even_sum=0
    odd_sum=0
    for i in lst:
        if i%2==0:
            even_sum=even_sum+i
        else:
            odd_sum+= i
    return even_sum,odd_sum

In [95]:
sum1([1,2,3,4,5,6,7])

(12, 16)

In [96]:
# lst1=[2,3,4,5,6,7]
# lst2=[6,7,8,9,3,4]

# we want result as [6+2=8, 3+7=10, ......]

In [117]:
def func(lst1,lst2):
    a=[]
    for i in range(len(lst1)):
        a.append(lst1[i]+lst2[i])
    print(a)

In [118]:
func([2,3,4,5,6,7],[6,7,8,9,3,4])

[8, 10, 12, 14, 9, 11]

In [27]:
# Same question different method
def func1(lst1,lst2):
    a=[]
    a=   [lst1[i]+lst2[i] for i in range(6)]    #list comprehension
    print(a)

In [28]:
func1([2,3,4,5,6,7],[6,7,8,9,3,4])

[8, 10, 12, 14, 9, 11]

Prime number

In [29]:
def is_prime(num):
    # for loop with else concept
    for n in range(2,num):
        if num % n == 0:
            print('not prime')
            break
    else: # If never mod zero, then prime
        print('prime')

In [30]:
is_prime(8)

not prime

In [31]:
is_prime(13)

prime

# Iterator and generators

In [ ]:
# list is iterable

In [44]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [45]:
# string is also iterable
for i in "Prakhar":
    print(i)

P
r
a
k
h
a
r

In [46]:
# tuple is also iterable

In [67]:
### Iterator
# lazy Evoluation
a=iter([1,2,3,4,5,6])
a

In [68]:
next(a)

1

In [69]:
next(a)

2

In [70]:
next(a)

3

In [71]:
for i in a:
    print(i)

4
5
6

In [74]:
def getCubes(n):
    listofsquares=[]
    for i in range(n):
        listofsquares.append(i**3)
    return listofsquares

In [75]:
getCubes(5)

[0, 1, 8, 27, 64]

In [85]:
def gencubes(n):
    for num in range(n):
        yield num**3

In [86]:
output= gencubes(5)
output

In [87]:
next(output)

0

In [88]:
for i in output:
    print(i)

1
8
27
64

In [93]:
next(output)      # now it gives error

StopIteration:

Fibonacci program

In [94]:
def genfibon(n):
    '''
    Generate a fibonacci sequence up to n
    '''
    a = 0
    b = 1
    for i in range(n):
        yield a
        a,b = b,a+b

In [95]:
for num in genfibon(10):
    print(num)

0
1
1
2
3
5
8
13
21
34

What if this was a normal function, what would it look like?

In [100]:
def fibon(n):
    a = 0
    b = 1
    output = []
    
    for i in range(n):
        output.append(a)
        a,b = b,a+b
        
    return output

In [101]:
fibon(5)

[0, 1, 1, 2, 3]

In [106]:
# if you dont want to use yield function and want iterator
def genfibon(n):
    
    lst=[]
    a = 0
    b = 1
    for i in range(n):
        lst.append(a) 
        a,b = b,a+b
    return iter(lst)

In [107]:
x=genfibon(10)

In [108]:
next(x)

0

In [109]:
next(x)

1

# map

In [110]:
def squ_num(x):
    return x*x

In [111]:
list(map(squ_num,[1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [1]:
def fahrenheit(T):
    return ((float(9)/5)*T + 32)


def celsius(T):
    return (float(5)/9)*(T-32)
    
temp = [0, 22.5, 40,100]


def summ(x, y ):
    return x+y

In [2]:
F_temps = list(map(fahrenheit, temp))

#Show
F_temps

[32.0, 72.5, 104.0, 212.0]

In [3]:
# Convert back
list(map(celsius, F_temps))

[0.0, 22.5, 40.0, 100.0]

In [4]:
list(map(lambda x : x+1, F_temps))

[33.0, 73.5, 105.0, 213.0]

In [5]:
a = [1,2,3,4]
b = [5,6,7,8]
c = [9,10,11,12,4,5]

list(map(lambda x,y,z:x+y+z,a,b,c))     # 3 parameters in lambda function

[15, 18, 21, 24]

In [6]:
def sum(x,y,z):
    return x+y+z

In [7]:
# Now all three lists
list(map(sum, a,b,c))

[15, 18, 21, 24]

In [8]:
x=(lambda a,b:a*b)     #lambda without map function

In [10]:
x(5,6)

30

# Reduce()

In [31]:
from functools import reduce

In [30]:
lst =['sdfs','sdfsfsdf','sdf']
reduce(lambda a,b: a+b,lst)

'sdfssdfsfsdfsdf'

In [32]:
#Find the maximum of a sequence (This already exists as max())
max_find = lambda a,b: a if (a > b) else b
lst =[47,11,42,13]

In [33]:
#Find max
reduce(max_find,lst)

47

In [34]:
summ=lambda x,y:x+y   #to find sum
reduce(summ,lst)

113

# Filter

In [42]:
#First let's make a function
def even_check(num):
    if num%2 ==0:
        return True

In [43]:
lst =[1,2,3,4,5,6,7,8]

list(filter(even_check,lst))

[2, 4, 6, 8]

In [44]:
list(map(lambda x: x%2==0,lst))

[False, True, False, True, False, True, False, True]

In [45]:
list(filter(lambda x:x%2==0,lst))

[2, 4, 6, 8]