# Python Basics

In [2]:
4%2    #Modulus

0

In [3]:
5//2   #Whole no.

2

In [4]:
5/2

2.5

In [5]:
5+3*2

11

In [6]:
type(4/2)

float

In [7]:
type("Prakhar")

str

In [8]:
a=10
b=20
c=a+b

In [9]:
type(c)

int

In [10]:
True or False    #bit wise

True

In [11]:
True | False    #logical

True

In [13]:
a=10
b=20
a+b>30 | a-b<10

True

## Strings

In [16]:
"Prakhar"

'Prakhar'

In [17]:
#Never use Reserve Keywords, otherwise it will get error

In [18]:
str(1)     #Typecasting

'1'

In [19]:
str1="A good boy"
str2="A bad boy"

In [20]:
print(str1)
print(str2)

A good boy
A bad boy

In [21]:
str1+" "+str2

'A good boy A bad boy'

In [22]:
name= input("Enter your Name?")
print(name)

Enter your Name?P
P

In [29]:
#Add 2 numbers
a= float(input("Enter no. 1?"))
b=float(input("Enter no. 2?"))
c=a+b
print("The output is",c)

Enter no. 1?4
Enter no. 2?4
The output is 8.0

In [33]:
#String Formatting
F_n=input("First name?")
L_n=input("Last name?")
print("Welcome",F_n,L_n)

First name?Prakhar
Last name?jain
Welcome Prakhar jain

In [34]:
print("My first name is {} and last name is {}".format(F_n,L_n))

My first name is Prakhar and last name is jain

In [35]:
print("My first name is {firstname} and last name is {Lastname}".format(Lastname=L_n,firstname=F_n))

My first name is Prakhar and last name is jain

# Variable Dynamic Typing

In [36]:
a=10.0
type(a)

float

In [37]:
#Strong Typing
"Prakhar" + str(1)

'Prakhar1'

# Conditional statement

If an Elif

In [6]:
a=int(input("Enter no. 1?"))
b=int(input("Enter no 2?"))
c=a-b
print("The output is",c) 
if c<0:
    print("The no. is neg")
elif c>40:
    print("difference is huge")
else:
    print ("No. is Positive")

Enter no. 1?54
Enter no 2?2
The output is 52
difference is huge

# Data Structures

List

In [2]:
lst=[1,2,3,"Prakhar"]

In [3]:
lst

[1, 2, 3, 'Prakhar']

In [4]:
lst[3]

'Prakhar'

In [5]:
type(lst[3])

str

In [6]:
type(lst[2])

int

In [7]:
lst.append(5)

In [8]:
lst

[1, 2, 3, 'Prakhar', 5]

In [9]:
lst.append("jain")

In [10]:
lst

[1, 2, 3, 'Prakhar', 5, 'jain']

In [13]:
lst[2]=6     #imp

In [14]:
lst

[1, 2, 6, 'Prakhar', 5, 'jain']

In [15]:
lst.append("Prakhar")

In [16]:
lst.append("Prakhar")

In [17]:
lst

[1, 2, 6, 'Prakhar', 5, 'jain', 'Prakhar', 'Prakhar']

In [18]:
lst.count("Prakhar")

3

In [19]:
lst.count("aman")

0

# Indexing

In [20]:
str1="Prakhar"

In [23]:
str1[3]

'k'

In [26]:
str[2]=4    #string does not support item assignment 
            # string is immutable

TypeError: 'type' object does not support item assignment

In [30]:
l=list("jkdfgkdgj")
l

['j', 'k', 'd', 'f', 'g', 'k', 'd', 'g', 'j']

# loops

In [28]:
lst=[9,8,3,4,5,2]

In [29]:
sum1=0
for i in lst:
    sum1=sum1+i
print(sum1)

31

In [35]:
%%time
# print sum of even and odd numbers 
lst=[1,3,4,6,7,8,9,2,3,4,5]
even=0
odd=0
for i in lst:
    if i%2==0:
        even=even+i
    else:
        odd=odd+i
print("even sum is",even)
print("odd sum is",odd)

even sum is 24
odd sum is 28
Wall time: 0 ns


# for loop with else

In [9]:
lst=[4,5,3,6,7,2,7,8,9,3,6]

In [11]:
sum1=0
for i in lst:
    if i==1:
        break
    sum1=sum1+i
else:
    print("this is compulsory to be executed ")
print(sum1)

this is compulsory to be executed
60

In [17]:
# find the sum of even and odd numbers if even sum is greater than 20 or odd sum is greater sum is 20 implement break
# ......(print(else block))
lst=[1,2,3,4,5,6,7]
even_sum=0
odd_sum=0
for i in lst:
    if i%2==0:
        even_sum=even_sum+i
        if even_sum>20:
            break
    else:
        odd_sum=odd_sum+i
        if odd_sum>20:
            break
else:
    print(even_sum)
    print(odd_sum)

12
16

# While loop

In [2]:
# sum of n elements
n=10
i=1
sum1=0
while i<=n:
    sum1=sum1+i
    i=i+1
print(sum1)

55

In [3]:
# odd sum and even sum
n=10
i=1
even_sum=0
odd_sum=0
while i<=n:
    if i%2==0:
        even_sum=even_sum+i
    else:
        odd_sum=odd_sum+i
    i=i+1
print("Even sum is",even_sum)
print("odd sum is ",odd_sum)

Even sum is 30
odd sum is  25

# Range Function

In [4]:
range(6)

range(0, 6)

In [6]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [7]:
list(range(4,50,2))

[4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48]

In [8]:
print(list(range(8, 2,-2)))

[8, 6, 4]

In [16]:
#sum of 1st 100 odd numbers
sum(list(range(1,200,2)))

10000

In [18]:
list(range(10,0,-2))

[10, 8, 6, 4, 2]

# Break and Continue

In [19]:
# Use of break statement inside loop

for val in "string":
    if val == "i":
        break
    print(val)

print("The end")

s
t
r
The end

In [20]:
# Program to show the use of continue statement inside loops

for val in "string":
    if val == "i":
        continue
    print(val)

print("The end")

s
t
r
n
g
The end

# String

In [21]:
# Single word
'hello'

'hello'

In [22]:
# We can also use double quote
"String built with double quotes"

'String built with double quotes'

In [23]:
# Be careful with quotes!
' I'm using single quotes, but will create an error'

SyntaxError: invalid syntax (<ipython-input-23-3b26cff97c4c>, line 2)

In [24]:
"Now I'm ready to use the single quotes inside a string!"

"Now I'm ready to use the single quotes inside a string!"

In [25]:
len('Hello World')

11

In [38]:
# Assign s as a string
s = 'Hello World'

In [27]:
s[0]

'H'

In [28]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'ello World'

In [29]:
# Grab everything UP TO the 3rd index
s[:3]

'Hel'

In [30]:
#Everything
s[:]

'Hello World'

In [31]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'd'

In [32]:
# Grab everything but the last letter
s[:-1]

'Hello Worl'

In [33]:
# Grab everything, but go in steps size of 1
s[::1]

'Hello World'

In [34]:
# Grab everything, but go in step sizes of 2
s[::2]

'HloWrd'

In [35]:
# We can use this to print a string backwards
s[::-1]

'dlroW olleH'

# Basic Built-in String methods

In [39]:
s = s + ' concatenate me!'
s

'Hello World concatenate me!'

In [40]:
# Upper Case a string
s.upper()

'HELLO WORLD CONCATENATE ME!'

In [41]:
# Lower case
s.lower()

'hello world concatenate me!'

In [42]:
# Split a string by blank space (this is the default)
s.split()

['Hello', 'World', 'concatenate', 'me!']

In [43]:
# Split by a specific element (doesn't include the element that was split on)
s.split('W')

['Hello ', 'orld concatenate me!']

In [44]:

s.count('o')

3

In [45]:
s.find('o')   # it gives us first index where it found o

4

In [46]:
s.center(40,'z')

'zzzzzzHello World concatenate me!zzzzzzz'

In [47]:
'hello\thi'.expandtabs()

'hello   hi'

# is check methods

In [1]:
s = 'hello'

In [2]:
s.isalnum()

True

In [3]:
s.isalpha()

True

In [4]:
s.islower()

True

In [5]:
s.isspace()

False

In [6]:
s.istitle()

False

In [7]:
s.isupper()

False

In [8]:
s.endswith('o')

True

In [9]:
s.split('e')

['h', 'llo']

In [10]:
s.partition('e')

('h', 'e', 'llo')